loginOK {
  // .splash-bg {
  //   position: relative;
  //   background: url('../assets/img/splashbg.png') no-repeat transparent;
  //   background-size: cover;
  //   height: 45%;
  //   z-index: 1;
  //   background-repeat: repeat-x;
  //   animation: animatedBackground 40s linear infinite;
  // }
  .scroll-content {
    // position: absolute;
   
    // background: url('../../assets/img/misImg/bg/bglogin.png');    
    background-size: cover;
    height: 100%;
    width: 100%;
    // z-index: 1;
    // background-position: center;
    // margin-left: 0px;
    background-color: lightblue;

    text-align: center;
    // margin-left: 0%;
    // background: transparent;
    // z-index: 1;
    // background-repeat: repeat-x;
    
  }
  ion-item{
    background-size: cover;
    height: 100%;
    width: 100%;
  
    background-color: lightblue;

    text-align: center;

  }

  // #img{
  //   margin-top: 25%;
  // }
//  .actSheet{
//   background-color: black;
//  }


  // @keyframes animatedBackground {
  //   0% { transform: scale(1);}
  //   100% { transform: scale(2.5);}
  // }

  // .splash-info {
  //   position: relative;
  //   z-index: 2;
  //   margin-top: -64px;
  //   text-align: center;
  // }
  // .splash-logo {
  //   margin: auto;
  //   background: url('../assets/img/appicon.png') repeat transparent;
  //   background-size: 100%;
  //   width: 128px;
  //   height: 128px;
  // }
  // .splash-intro {
  //   font-size: 18px;
  //   font-weight: bold;
  //   max-width: 80%;
  //   margin: auto;
  // }
  
    .itemEdit{
      background-color: lightblue;
    }

  button.login {
    margin-top: 25px;
    background-color: lightblue;
    box-shadow: 0px 1px 2px rgb(0, 0, 136);
    color: #333;
  }
  .login:hover{
    color:white;
    background-color: rgb(0, 0, 136) !important;
  }

  .listaus:hover{
    color:white;
    background-color: rgb(0, 0, 136) !important;

  }

  ion-title{
    text-align: center;
  }
  // form{
  //     text-align: center;

  // }
  // .iContent{
  //   // background-image: url('../../../Archivos/background.jpg');
  //   // background: url('../../../Archivos/background.jpg');
  //   // background-repeat: no-repeat;
  //   // background-size:cover;
  //   // ##  Heading
  // }
  
  
}
