page-home {

}
form{
    text-align: center;

}
ion-title{
    text-align: center;
}
login-background{
    background-image: url('https://myslu.slu.edu/res/images/cas-padlock-icon.png" width="200px" height="200px"');
}
